.suggestions {
    padding-top: 20px;
    border-top: var(--main-border);
}

.suggestions-icons {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    padding: 0px 10px;
}

.suggestions-icons_icon-empty,
.suggestions-icons_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suggestions-icons_icon-empty i,
.suggestions-icons_icon i {
    padding-bottom: 10px;
}

.suggestions-icons_icon span {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.suggestions-title {
    padding-bottom: 20px;
    font-size: 14px;
}

.suggestions-icons_icon-empty {
    color: white;
}